/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp1/bin/Debug/net10.0
/ConsoleApp1/.vs
/ConsoleApp1/task2/bin/Debug/net10.0
/ConsoleApp1/task2/obj
/ConsoleApp1/task3/bin/Debug/net10.0
/ConsoleApp1/task3/obj
/ConsoleApp1/task4/bin/Debug/net10.0
/ConsoleApp1/task4/obj
/lab2/.vs
/lab2/lab2/bin/Debug/net10.0
/lab2/lab2/obj
/lab2/task2/bin/Debug/net10.0
/lab2/task2/obj
/lab2/task3/bin/Debug/net10.0
/lab2/task3/obj
/lab2/task4/bin/Debug/net10.0
/lab2/task4/obj
/lab2/lab2/task1.csproj.user

.vs/
bin/
obj/
